<app-header></app-header>
<div class='row'>
    <div class='main-cover'>
        <div class="main-form">
            <p>Aprender matemáticas no es cosa de <strong>genios</strong>.</p>
            <p>Lecciones de matemáticas para todos los niveles de aprendizaje, desde la comodidad de tu casa y a tu
                propio ritmo.<br>¡Únete a la nueva manera de aprender matemáticas, más fácil y divertido! Comienza tu
                prueba gratis aquí:</p>
            <div>
                <input spellcheck="false" type="text" placeholder="Tu correo" name="" value="">
                <span><a href="#">COMIENZA TU PRUEBA GRATIS</a></span>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class="beneficios">
        <div class="col-7 slider">

        </div>
        <div class="col-5 info">
            <p>BENEFICIOS</p>
            <div class="desktop">
                <img src="assets/desktop.svg" alt="Desktop">
                <div>
                    <p>Disponible 24/7 desde cualquier lugar</p>
                    <p>Nuestros cursos en línea garantizan que puedas aprender a cualquier hora del día y en cualquier
                        lugar que te encuentres.</p>
                </div>
            </div>
            <div class="people">
                <img src="assets/users.svg" alt="Users">
                <div>
                    <p>Comunidad de apoyo</p>
                    <p>Contamos con una área de comunidad donde puedes resolver tus dudas y compartir tus conocimientos
                        con los demás miembros.</p>
                </div>
            </div>
            <div class="eval">
                <img src="assets/book.svg" alt="Book">
                <div>
                    <p>Evaluaciones reales</p>
                    <p>Al final de cada curso se evalua a los alumnos para medir su nivel de aprendizaje y poder
                        trabajar en lo que salió mal.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class="col-12 testimonios">

    </div>
</div>

<div class='row'>
    <div class="formas-de-aprender">
        <p>DIFERENTES FORMAS DE APRENDER</p>
        <div class="container">
          <div class="col-7 tracks">
            <p>Tracks</p>
            <p>Aprende de manera secuencial.</p>
            <p>Los tracks son una manera ordenada y secuencial de aprender. Selecciona un tema e irás aprendiendo bajo un esquema creado por el staff de Mentes Brillantes.</p>
            <span>
              <a href="#">Explora nuestros Tracks</a>
            </span>
          </div>
          <div class="col-5 libreria">
            <p>Librería</p>
            <p>Aprende a tu propio ritmo.</p>
            <p>En nuestra librería encontrarás todo nuestro contenido para que lo acceses en cualquier momento, ya sea que necesites un repaso rápido o te estés preparando para un examen.</p>
            <span>
              <a href="#">Explora nuestra librería</a>
            </span>
          </div>
        </div>
      </div>
</div>
<div class='row'>
        <div class="info-padres">
                <div class="info-padres-mb col-8">
                  <div class="info-padres-mb-form">
                    <p>INFORMACIÓN PARA PADRES</p>
                    <p>¿Por qué una plataforma de aprendizaje en línea?</p>
                    <p>Déjanos contarte por qué Mentes Brillantes es la mejor opción para el reforzamiento de Matemáticas que puedes darle a tu hijo.</p>
                    <p>Descubre más información en la sección de información para padres:</p>
                    <span><a href="#">Descubre más sobre el modelo educativo de MB</a></span>
                  </div>
                </div>
              </div>
</div>